In [1]:
import pandas as pd


# 인구사회 부문
df10 = pd.read_csv('최종_변환_인구사회_인구증감률_2013-2022.csv', index_col = 0)
df13 = pd.read_csv('최종_변환_인구사회_노령화지수_2021.csv', index_col = 0) 
df12 = pd.read_csv('최종_변환_인구사회_천명당기초생활수급자수.csv', index_col = 0)

# 산업경제 부문 
df3 = pd.read_csv('최종_변환_산업경제_도소매업체증감율_2013-2018.csv', index_col = 0)
df5 = pd.read_csv('최종_변환_산업경제_제조업체증감율_2013-2018.csv',index_col=0)
df7 = pd.read_csv('최종_변환_산업경제_천명당총종사자수_2013-2018.csv', index_col = 0)
df8 = pd.read_csv('최종_변환_산업경제_총사업체증감률_2013-2018.csv', index_col = 0)
df9 = pd.read_csv('최종_변환_산업경제_총종사자증감률_2013-2018.csv', index_col = 0)
df14 = pd.read_csv('최종_변환_산업경제_고차산업종사자비율_2013-2018.csv', index_col=0)

# 물리환경 부문 
df1 = pd.read_csv('최종_변환_물리환경_노후주택_신규주택 비율.csv', index_col = 0)
df2 = pd.read_csv('최종_변환_물리환경_부동산공시지가_2013-2021.csv', index_col = 0)

In [2]:
# 인구사회_인구증감률 (9년간)
df10 = df10[['dong','인구상대감소지수_std']]
df10.columns=['dong','std_people_desc']
df10

  dong  std_people_desc
0  동춘동         0.875803
1  선학동         0.978473
2  송도동         0.000000
3  연수동         1.000000
4  옥련동         0.969523
5  청학동         0.987645

In [3]:
# 인구사회_노령화지수 (2021)
df13= df13[['dong','std']]
df13.columns=['dong','std_senior_child_rate']
df13

  dong  std_senior_child_rate
0  동춘동               0.247986
1  선학동               1.000000
2  송도동               0.000000
3  연수동               0.725924
4  옥련동               0.487955
5  청학동               0.956572

In [4]:
# 인구사회_천명당 기초생활수급자수 (2022)
df12 = df12[['emd_nm','2021년 천명당 기초생활수급자_std']]
df12.columns=['dong','천명당기초생활수급자수_std']
df12

  dong  천명당기초생활수급자수_std
0  동춘동         0.126928
1  선학동         1.000000
2  송도동         0.000000
3  연수동         0.911446
4  옥련동         0.406821
5  청학동         0.844546

In [5]:
# 산업경제_총종사자수증감률 (5년간)
df9 = df9[['dong', 'std_employee_decr_idx(13-18)']]
df9

  dong  std_employee_decr_idx(13-18)
0  선학동                      0.739296
1  청학동                      0.914584
2  송도동                      0.000000
3  옥련동                      0.772565
4  연수동                      0.877654
5  동춘동                      1.000000

In [6]:

df5

,dong,2013,2014,2015,2016,2017,2018,증감율 2013-2018,상대감소지수,std
0,동춘동,43.0,43.0,46.0,44.0,41.0,36.0,-16.279070,100.000000,1.000000
1,선학동,23.0,35.0,27.0,33.0,35.0,32.0,39.130435,55.866792,0.558668
2,송도동,302.0,418.0,516.0,554.0,599.0,632.0,109.271523,0.000000,0.000000
3,연수동,79.0,90.0,85.0,77.0,76.0,77.0,-2.531646,89.050291,0.890503
4,옥련동,45.0,47.0,46.0,45.0,54.0,54.0,20.000000,71.104024,0.711040
5,청학동,45.0,47.0,60.0,59.0,52.0,62.0,37.777778,56.944172,0.569442

In [7]:
# 산업경제_제조업체증감율 (5년간)
df5 = df5[['dong','std']]
df5.columns=['dong','제조업체증감율_상대감소지수_std']
df5

  dong  제조업체증감율_상대감소지수_std
0  동춘동            1.000000
1  선학동            0.558668
2  송도동            0.000000
3  연수동            0.890503
4  옥련동            0.711040
5  청학동            0.569442

In [8]:

df3

,dong,2013,2014,2015,2016,2017,2018,증감율 2013-2018,상대감소지수,std
0,동춘동,654.0,668.0,667.0,671.0,669.0,645.0,-1.376147,100.000000,1.000000
1,선학동,162.0,171.0,188.0,198.0,200.0,205.0,26.543210,84.939625,0.849396
2,송도동,594.0,824.0,1106.0,1429.0,1632.0,1687.0,184.006734,0.000000,0.000000
3,연수동,655.0,686.0,656.0,630.0,656.0,677.0,3.358779,97.445867,0.974459
4,옥련동,801.0,939.0,984.0,1052.0,1017.0,1123.0,40.199750,77.572958,0.775730
5,청학동,346.0,327.0,353.0,379.0,387.0,391.0,13.005780,92.242041,0.922420

In [9]:
# 산업경제_도소매업체증감율 (5년간)

df3 = df3[['dong','std']]
df3.columns=['dong','도소매업체증감율_상대감소지수_std']
df3

  dong  도소매업체증감율_상대감소지수_std
0  동춘동             1.000000
1  선학동             0.849396
2  송도동             0.000000
3  연수동             0.974459
4  옥련동             0.775730
5  청학동             0.922420

In [10]:
# 산업경제_천명당총종사자수 (2018)
df7 = df7[['dong', 'std_emp_R-LQ2018']]
df7

  dong  std_emp_R-LQ2018
0  선학동          0.992686
1  청학동          0.849715
2  송도동          0.000000
3  옥련동          0.914015
4  연수동          1.000000
5  동춘동          0.946811

In [11]:
# 고차산업종사자수 비율 (2018)
df14 = df14[['dong', 'std_non_h_rate_2018']]
df14

  dong  std_non_h_rate_2018
0  선학동             0.000000
1  청학동             0.181901
2  옥련동             0.702588
3  연수동             0.157272
4  동춘동             1.000000
5  송도동             0.346521

In [12]:
# 산업경제_총사업체증감률 (5년간)
df8 = df8[['dong', 'std_business_decr_idx(13-18)']]
df8

  dong  std_business_decr_idx(13-18)
0  선학동                      0.942287
1  청학동                      0.970601
2  동춘동                      1.000000
3  송도동                      0.000000
4  연수동                      0.991010
5  옥련동                      0.902991

In [13]:
# 물리환경_노후주택 비율_신규주택 비율 (2022)
df1 = df1[['dong', 'std_over_20_years_rate', 'std_non_within_5_years_rate']]
df1

  dong  std_over_20_years_rate  std_non_within_5_years_rate
0  옥련동                0.866372                     0.835323
1  선학동                0.924965                     0.921602
2  연수동                1.000000                     0.922655
3  청학동                0.967993                     1.000000
4  동춘동                0.812204                     0.474773
5  송도동                0.000000                     0.000000

In [14]:
# 물리환경_부동산 공시지가 (2021)
df2 = df2[['dong', 'std_land_R-LQ2021']]
df2

  dong  std_land_R-LQ2021
0  동춘동           0.740335
1  선학동           1.000000
2  송도동           0.000000
3  연수동           0.140359
4  옥련동           0.560114
5  청학동           0.566568

In [15]:
# 위 데이터 결합 

from functools import reduce

data_frames = [df10, df13, df12, df9, df5, df3, df7, df14, df8, df1, df2]

df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['dong']), data_frames)
df_merged

,dong,std_people_desc,std_senior_child_rate,천명당기초생활수급자수_std,std_employee_decr_idx(13-18),제조업체증감율_상대감소지수_std,도소매업체증감율_상대감소지수_std,std_emp_R-LQ2018,std_non_h_rate_2018,std_business_decr_idx(13-18),std_over_20_years_rate,std_non_within_5_years_rate,std_land_R-LQ2021
0,동춘동,0.875803,0.247986,0.126928,1.000000,1.000000,1.000000,0.946811,1.000000,1.000000,0.812204,0.474773,0.740335
1,선학동,0.978473,1.000000,1.000000,0.739296,0.558668,0.849396,0.992686,0.000000,0.942287,0.924965,0.921602,1.000000
2,송도동,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.346521,0.000000,0.000000,0.000000,0.000000
3,연수동,1.000000,0.725924,0.911446,0.877654,0.890503,0.974459,1.000000,0.157272,0.991010,1.000000,0.922655,0.140359
4,옥련동,0.969523,0.487955,0.406821,0.772565,0.711040,0.775730,0.914015,0.702588,0.902991,0.866372,0.835323,0.560114
5,청학동,0.987645,0.956572,0.844546,0.914584,0.569442,0.922420,0.849715,0.181901,0.970601,0.967993,1.000000,0.566568

In [16]:
# 컬럼명 변경

df_merged.rename(columns = 
                {'std_people_desc':'인구변화율',
                'std_senior_child_rate':'노령화지수',
                '천명당기초생활수급자수_std':'기초생활수급(천)',
                'std_employee_decr_idx(13-18)':'총종사자증감률',
                '제조업체증감율_상대감소지수_std':'제조업체증감률',
                '도소매업체증감율_상대감소지수_std':'도소매업체증감률',
                'std_emp_R-LQ2018':'종사자수(천)',
                'std_non_h_rate_2018':'고차산업종사자수비율',
                'std_business_decr_idx(13-18)':'총사업체증감률',
                'std_over_20_years_rate':'노후주택비율',
                'std_non_within_5_years_rate':'신규주택비율',
                'std_land_R-LQ2021':'부동산공시지가'}, inplace=True)
df_merged

,dong,인구변화율,노령화지수,기초생활수급(천),총종사자증감률,제조업체증감률,도소매업체증감률,종사자수(천),고차산업종사자수비율,총사업체증감률,노후주택비율,신규주택비율,부동산공시지가
0,동춘동,0.875803,0.247986,0.126928,1.000000,1.000000,1.000000,0.946811,1.000000,1.000000,0.812204,0.474773,0.740335
1,선학동,0.978473,1.000000,1.000000,0.739296,0.558668,0.849396,0.992686,0.000000,0.942287,0.924965,0.921602,1.000000
2,송도동,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.346521,0.000000,0.000000,0.000000,0.000000
3,연수동,1.000000,0.725924,0.911446,0.877654,0.890503,0.974459,1.000000,0.157272,0.991010,1.000000,0.922655,0.140359
4,옥련동,0.969523,0.487955,0.406821,0.772565,0.711040,0.775730,0.914015,0.702588,0.902991,0.866372,0.835323,0.560114
5,청학동,0.987645,0.956572,0.844546,0.914584,0.569442,0.922420,0.849715,0.181901,0.970601,0.967993,1.000000,0.566568

In [17]:
# 복합쇠퇴지수 계산 ('표준화*가중치'의 합)

df_merged2 = df_merged.copy()

df_merged2['인구사회쇠퇴지수'] = (df_merged2['인구변화율']*9.246193836) + (df_merged2['노령화지수']*9.110038371) + (df_merged2['기초생활수급(천)']*8.35499443)

df_merged2['산업경제쇠퇴지수'] = (df_merged2['총종사자증감률']*5.656640673) + (df_merged2['총사업체증감률']*9.865082312) + (df_merged2['제조업체증감률']*7.389528407) + (df_merged2['도소매업체증감률']*9.097660602) + (df_merged2['종사자수(천)']*8.144572348) + (df_merged2['고차산업종사자수비율']*6.498329001)

df_merged2['물리환경쇠퇴지수'] = (df_merged2['노후주택비율']*7.637083797) + (df_merged2['신규주택비율']*8.862482981) + (df_merged2['부동산공시지가']*10.13739324)

df_merged2['복합쇠퇴지수'] = (df_merged2['인구변화율']*9.246193836) + (df_merged2['노령화지수']*9.110038371) + (df_merged2['기초생활수급(천)']*8.35499443) + (df_merged2['총종사자증감률']*5.656640673) + (df_merged2['총사업체증감률']*9.865082312) + (df_merged2['제조업체증감률']*7.389528407) + (df_merged2['도소매업체증감률']*9.097660602) + (df_merged2['종사자수(천)']*8.144572348) + (df_merged2['고차산업종사자수비율']*6.498329001) + (df_merged2['노후주택비율']*7.637083797) + (df_merged2['신규주택비율']*8.862482981) + (df_merged2['부동산공시지가']*10.13739324)

df_merged2

,dong,인구변화율,노령화지수,기초생활수급(천),총종사자증감률,제조업체증감률,도소매업체증감률,종사자수(천),고차산업종사자수비율,총사업체증감률,노후주택비율,신규주택비율,부동산공시지가,인구사회쇠퇴지수,산업경제쇠퇴지수,물리환경쇠퇴지수,복합쇠퇴지수
0,동춘동,0.875803,0.247986,0.126928,1.000000,1.000000,1.000000,0.946811,1.000000,1.000000,0.812204,0.474773,0.740335,11.417492,46.218612,17.915611,75.551715
1,선학동,0.978473,1.000000,1.000000,0.739296,0.558668,0.849396,0.992686,0.000000,0.942287,0.924965,0.921602,1.000000,26.512184,33.418480,25.369107,85.299771
2,송도동,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.346521,0.000000,0.000000,0.000000,0.000000,0.000000,2.251807,0.000000,2.251807
3,연수동,1.000000,0.725924,0.911446,0.877654,0.890503,0.974459,1.000000,0.157272,0.991010,1.000000,0.922655,0.140359,23.474512,39.353240,17.236969,80.064721
4,옥련동,0.969523,0.487955,0.406821,0.772565,0.711040,0.775730,0.914015,0.702588,0.902991,0.866372,0.835323,0.560114,16.808673,37.599690,19.697690,74.106053
5,청학동,0.987645,0.956572,0.844546,0.914584,0.569442,0.922420,0.849715,0.181901,0.970601,0.967993,1.000000,0.566568,24.902542,35.450913,21.998652,82.352107

In [18]:
# 복합쇠퇴지수 순위 산정

df_merged2['순위(복합)'] = df_merged2['복합쇠퇴지수'].rank(ascending=False) 
df_merged2['순위(인구사회)'] = df_merged2['인구사회쇠퇴지수'].rank(ascending=False) 
df_merged2['순위(산업경제)'] = df_merged2['산업경제쇠퇴지수'].rank(ascending=False) 
df_merged2['순위(물리환경)'] = df_merged2['물리환경쇠퇴지수'].rank(ascending=False) 

df_merged2

,dong,인구변화율,노령화지수,기초생활수급(천),총종사자증감률,제조업체증감률,도소매업체증감률,종사자수(천),고차산업종사자수비율,총사업체증감률,...,신규주택비율,부동산공시지가,인구사회쇠퇴지수,산업경제쇠퇴지수,물리환경쇠퇴지수,복합쇠퇴지수,순위(복합),순위(인구사회),순위(산업경제),순위(물리환경)
0,동춘동,0.875803,0.247986,0.126928,1.000000,1.000000,1.000000,0.946811,1.000000,1.000000,...,0.474773,0.740335,11.417492,46.218612,17.915611,75.551715,4.0,5.0,1.0,4.0
1,선학동,0.978473,1.000000,1.000000,0.739296,0.558668,0.849396,0.992686,0.000000,0.942287,...,0.921602,1.000000,26.512184,33.418480,25.369107,85.299771,1.0,1.0,5.0,1.0
2,송도동,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.346521,0.000000,...,0.000000,0.000000,0.000000,2.251807,0.000000,2.251807,6.0,6.0,6.0,6.0
3,연수동,1.000000,0.725924,0.911446,0.877654,0.890503,0.974459,1.000000,0.157272,0.991010,...,0.922655,0.140359,23.474512,39.353240,17.236969,80.064721,3.0,3.0,2.0,5.0
4,옥련동,0.969523,0.487955,0.406821,0.772565,0.711040,0.775730,0.914015,0.702588,0.902991,...,0.835323,0.560114,16.808673,37.599690,19.697690,74.106053,5.0,4.0,3.0,3.0
5,청학동,0.987645,0.956572,0.844546,0.914584,0.569442,0.922420,0.849715,0.181901,0.970601,...,1.000000,0.566568,24.902542,35.450913,21.998652,82.352107,2.0,2.0,4.0,2.0

In [19]:
# 필요 컬럼만 추출

df_final = df_merged2[['dong','인구사회쇠퇴지수','산업경제쇠퇴지수','물리환경쇠퇴지수','복합쇠퇴지수','순위(복합)','순위(인구사회)','순위(산업경제)','순위(물리환경)']]
df_final

,dong,인구사회쇠퇴지수,산업경제쇠퇴지수,물리환경쇠퇴지수,복합쇠퇴지수,순위(복합),순위(인구사회),순위(산업경제),순위(물리환경)
0,동춘동,11.417492,46.218612,17.915611,75.551715,4.0,5.0,1.0,4.0
1,선학동,26.512184,33.418480,25.369107,85.299771,1.0,1.0,5.0,1.0
2,송도동,0.000000,2.251807,0.000000,2.251807,6.0,6.0,6.0,6.0
3,연수동,23.474512,39.353240,17.236969,80.064721,3.0,3.0,2.0,5.0
4,옥련동,16.808673,37.599690,19.697690,74.106053,5.0,4.0,3.0,3.0
5,청학동,24.902542,35.450913,21.998652,82.352107,2.0,2.0,4.0,2.0

In [20]:
df_final.to_csv('최종_인구사회_산업경제_물리환경_복합_쇠퇴지수_순위포함.csv')